{% extends "keydash_app/base.html" %}

{% load friendshiptags %}

{% block body_block %}
    <h1>Add a Friend</h1>

    {% if not to_username == request.user.username %}

        {% if errors %}
            <p>
                {{ errors|join:", " }}
            <form action="/keydash/friends_keydash/">
                <input type="submit" class="btn btn-lg btn-info" value="Return to Friends">
            </form>
            </p>

        {% else %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="to_username" value="{{ to_username }}" />
                <input type="submit" class="btn btn-lg btn-info" value="add {{ to_username }} as a friend" />
            </form>
        {% endif %}

    {% endif %}

{% endblock %}