<!DOCTYPE html>

<html>
    <head>
        <title> KeyDash {% block title %}Learn to type and have fun!{% endblock %}</title>
    <h1>KeyDash</h1>
    <hr/>
        {% load staticfiles %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.4/highcharts.js"></script>
        <script src="{% static "js/keydash-ajax.js" %}"></script>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Logout</li>
                <li><a href="/keydash/about/">About</a></li>
                <li><a href="/keydash/home/">Home</a></li>
                <li><a href="/keydash/game/">Game</a></li>
                <li><a href="/keydash/statistics/">Statistics</a></li>
                <li><a href="/keydash/statistics_global/">Global Statistics</a></li>
                <li><a href="/keydash/statistics_personal/">Personal Statistics</a></li>
                <li><a href="/keydash/profile/">Profile</a></li>
                <li><a href="/keydash/friends_keydash/">Friends Keydash</a></li>
                <li><a href="/keydash/friends_requests_keydash/">Friends Requests Keydash</a></li>
                <br>
                <li><a href="/friendship/friends/{{ user.username }}/">Your Friends</a></li>
                <li><a href="/friendship/users/">Add Friend</a></li>
                <li><a href="/friendship/friend/requests/">Requests</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register</li>
                <li><a href="{% url 'auth_login' %}">Login</li>
                <li><a href="/keydash/trial/">Trial Game</a></li>
            {% endif %}
            </ul>
        </div>
    </body>
</html>