{% extends "keydash_app/base.html" %}

{% block body_block %}

    {% if profiles %}
    <h1>Your Friends</h1>
    <ul>
        {% for profile in profiles %}
            <li>User: {{ profile.user.username }}, email: {{ profile.user.email }}, ranking position: {{ profile.ranking_position }}
                {% if profile.picture %}
                    photo: <img src ='{{ profile.picture.url }}' height = 150 width = 130></li>
                {% endif %}
        {% endfor %}
    </ul>
    {% endif %}


    {% if other_users %}
    <h2>Add to your Friends</h2>
    <ul>
        {% for other_user in other_users %}
            <li>User: {{ other_user.username }} <a href="{% url 'friendship_add_friend' other_user.username %}">add as friend</a> </li>
        {% endfor %}
    </ul>
    {% endif %}

    <br>
    <h3>Find other users and add as friends</h3>
    <form>
        <input type="text" name="suggestion" value="" id="suggestion" />
    </form>

    <br>
    <br>
    <br>
    <div id="cats">
    </div>


{% endblock %}