{% extends "keydash_app/base.html" %}

{% load friendshiptags %}

{% block body_block %}
    <h1>Friends Requests</h1>

    <ul>
        {% for request in requests %}
            {{ request.from_user }} to {{ request.to_user }} <a href="{% url 'friendship_requests_detail' request.id %}">view</a><br>
            <br>
            <form method="post" action="{% url 'friendship_accept_keydash' request.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-lg btn-info" value="accept" />
            </form>
            <br>
            <form method="post" action="{% url 'friendship_reject_keydash' request.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-lg btn-info" value="reject" />
            </form>
            <br>
        {% empty %}
            <div>no requests :(</div>
        {% endfor %}
    </ul>
{% endblock %}