{% extends "keydash_app/base.html" %}

{% block body_block %}

<div align="center">
    <h1>KeyDash</h1>
    <br>

    <form action="/keydash/trial_game/">
        <input class="btn btn-primary" type="submit" value="Trial Game">
    </form>
    <br>

    Are you a member?
    <form action="{% url 'auth_login' %}">
        <input class="btn btn-info" type="submit" value="Login"><br>
    </form>
    <br>

    Not  a member?
    <form action="{% url 'registration_register' %}">
        <input class="btn btn-info" type="submit" value="Register">
    </form>
</div>

{% endblock %}