{% extends "keydash_app/base.html" %}


{% block body_block %}
    {% if user.is_authenticated %}
        you are logged in as <h3>{{ user.username }}</h3>

        {% if users %}
            {% for user in users %}
                <li>Username: {{ user.username }}   Last login: {{ user.last_login }}</li>
            {% endfor %}
        {% else %}
            <strong>There are no users present.</strong>
        {% endif %}

    {% else %}
        <p>Are you a member? <a href="{% url 'auth_login' %}">Login</a>!</p>
        <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
    {% endif %}
    <br>

    {#    the chart - Statistics  #}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.4/highcharts.js"></script>
    {% load chartit %}
    {{ weatherchart|load_charts:"container" }}
    <div id='container'> Chart will be rendered here </div>

{% endblock %}