{% extends "keydash_app/base.html" %}

{% block body_block %}

    {# profile displaied here#}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            {% if user_profile.picture %}<br>
                                <img src="{{ user_profile.picture.url }}" alt="" class="img-rounded img-responsive"/><br>
                            {% endif %}
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h2>
                                {{ user2.username }}</h2>
                            <p>
                                {% if user in friends_of_logged_in_user or logged_in_user == user2.username %}
                                <i class="glyphicon glyphicon-envelope"></i> Email: {{ user2.email }}
                                <br />
                                {% endif %}
                                <i class="glyphicon glyphicon-time"></i> Last Online: {{ user2.last_login }}
                                <br />
                                <i class="glyphicon glyphicon-star-empty"></i> Ranking position: {{ user_profile.ranking_position }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# chane the profile details#}
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <br>
                {% if user.is_authenticated and logged_in_user == user2.username %}
                <h2>Change profile</h2>
                <form id="user_form" method="post" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type="submit" name="submit" value="Edit profile" />
                </form>
                <a href="{% url 'auth_password_change' %}">Reset Password</a>
                {% endif %}
            </div>
        </div>
    </div>


                {# Top Scores Table#}
    {% if logged_in_user != user2.username %}
    <div class="front_content">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Top Scores</h3>
                    </div>

                    <table class="table table-hover" id="dev-table1">
                        {% if scores %}
                            <thead>

                            <tr>
                                <th>Score</th>
                                <th>Game Mode</th>
                                <th>Date</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for score in scores %}
                                <tr>
                                    <td>{{ score.score }}</td>
                                    <td>{{ score.game }}</td>
                                    <td>{{ score.date }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td><strong>There are no scores</strong></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    {% endif %}


{% endblock %}