{% extends "keydash_app/base.html" %}

{% block body_block %}

    <h1>User Profile</h1>
    Username: {{ user.username }}<br>
    Email: {{ user.email }}<br>
{#    Last Online: {{ user_profile.last_online }}<br>#}
    Last Login: {{ user.last_login }}<br>
    {% if user_profile.picture %}<br>
        <img src="{{ user_profile.picture.url }}"/><br>
    {% endif %}

    Change profile
    <form id="user_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Edit profile" />
    </form>

{% endblock %}