{% extends "keydash_app/base.html" %}

{% block body_block %}

    <h1>Personal Statistics</h1>
    <h2>Top scores</h2>
    Username: {{ user.username }} <br>
    Ranking position: {{ user_profile.ranking_position }} <br>
    Highest WPM = {{ user_profile.wpm_highest }} <br>
    Highest Accuracy = {{ user_profile.accuracy_highest }} <br>
    Highest Score = {{ user_profile.score_highest }} <br>

    <h2>Game modes</h2>
    <form action="" method="post">
        {% csrf_token %}
        <select name="dropdown_game_mode">
            <option value="eng_dict">English Dictionary</option>
            <option value="rand_alpha">Random Alphanumeric</option>
            <option value="rand_alpha_punc">Random Alphanumeric + Punctuation</option>
            <option value="paragraph">Paragraph</option>
        </select>
        <input type="submit" value="Find best scores for that mode" />
    </form>

    {% if user_scores_for_game_mode %}
        Game Mode: {{ game_mode }}
        {% for score_game_mode in user_scores_for_game_mode %}
            <li>score: {{ score_game_mode.score }}</li>
        {% endfor %}
    {% else %}
        <strong>Choose game mode </strong>
    {% endif %}


    <br>
    <h2>Top Scores</h2>
    {% if scores %}
        {% for score in scores %}
            <li>Score: {{ score.score }} Game Modes: {{ score.game }}</li>
        {% endfor %}
    {% else %}
        <strong>There are no scores.</strong>
    {% endif %}

{% endblock %}