{% extends "keydash_app/base.html" %}

{% block body_block %}

    <div align="center">
        <h1>Global Statistics</h1><br>
    </div>

    {#Top users scores table#}
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title"><strong>Top Users Scores</strong></h1>
            </div>

            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th>Ranking</th>
                    <th>Username</th>
                    <th>Highest Score</th>
                </tr>
                </thead>

                <tbody>
                {% if users %}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.ranking_position }}</td>
                            <td>{{ user.user }}</td>
                            <td>{{ user.score_highest }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <strong>There are no users present.</strong>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>


    {# Game modes Scors table#}
    <div class="col-md-6 ">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title"><strong>Game Modes</strong></h1>
            </div>
            <div class="panel-heading">
                <form action="" method="post">
                    {% csrf_token %}
                    <select name="dropdown_game_mode">
                        <option value="eng_dict">English Dictionary</option>
                        <option value="rand_alpha">Random Alphanumeric</option>
                        <option value="rand_alpha_punc">Random Alphanumeric + Punctuation</option>
                        <option value="paragraph">Paragraph</option>
                        <option value="typingflight">Typing Flight</option>
                    </select>
                    <input type="submit" class="btn btn-sm btn-default" value="Find best scores for that mode" />
                </form>

            </div>

            <table class="table table-hover" id="dev-table">
             {% if user_scores_for_game_mode %}
                <thead>
                <tr>
                    <th>Score</th>
                    <th>Username</th>
                    <th>Game mode</th>
                </tr>
                </thead>

                <tbody>

                    {% for score_game_mode in user_scores_for_game_mode %}
                        <tr>
                            <td>{{ score_game_mode.score }}</td>
                            <td>{{ score_game_mode.user }}</td>
                            <td>{{ game_mode }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td><strong>Choose the game mode</strong></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}