{% extends "keydash_app/base.html" %}

{% block body_block %}

    <h1 class="front_content">Personal Statistics</h1><br>

    <div class="row">
        <div class="panel panel-info">
            <div class="text-center">
                <div class="panel-heading">
                    <h3>User Records Details</h3>
                    Username: {{ user.username }} <br>
                    Ranking position: {{ user_profile.ranking_position }} <br>
                    Highest WPM = {{ user_profile.wpm_highest }} <br>
                    Highest Accuracy = {{ user_profile.accuracy_highest }}% <br>
                    Highest Score = {{ user_profile.score_highest }} <br><br>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <div class="col-md-12">
            {# Top Scores Table#}
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Top Scores</h3>
                    </div>

                    <table class="table table-hover" id="dev-table1">
                        {% if scores %}
                            <thead>

                            <tr>
                                <th>Score</th>
                                <th>Game Mode</th>
                                <th>Date</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for score in scores %}
                                <tr>
                                    <td>{{ score.score }}</td>
                                    <td>{{ score.game }}</td>
                                    <td>{{ score.date }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td><strong>There are no scores</strong></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>


            {# Game mode table#}
            <div class="col-md-6 ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>Game Modes</strong></h1>
                    </div>
                    <div class="panel-heading">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <select name="dropdown_game_mode">
                                <option value="eng_dict">English Dictionary</option>
                                <option value="rand_alpha">Random Alphanumeric</option>
                                <option value="rand_alpha_punc">Random Alphanumeric + Punctuation</option>
                                <option value="paragraph">Paragraph</option>
                                <option value="typingflight">Typing Flight</option>
                            </select>
                            <input type="submit" class="btn btn-sm btn-default" value="Find best scores for that mode" />
                        </form>

                    </div>

                    <table class="table table-hover" id="dev-table2">
                        {% if user_scores_for_game_mode %}
                            <thead>
                            <tr>
                                <th>Score</th>
                                <th>Date</th>
                                <th>Game mode</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for score_game_mode in user_scores_for_game_mode %}
                                <tr>
                                    <td>{{ score_game_mode.score }}</td>
                                    <td>{{ score_game_mode.date }}</td>
                                    <td>{{ game_mode }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td><strong>Choose the game mode</strong></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


         {# the chart - Statistics  #}
        <div class="col-sm-12 col-md-12">
            {% load chartit %}
            {{ chart|load_charts:"container" }}
            <div id='container'> Chart will be rendered here </div>
        </div>

    </div>

{% endblock %}